<div class="container">
  <h1><%= @user.name %>'s followers</h1>
</div>

<% if @user.followers.empty? %>
  <div class="container">
    <h1>No followers yet!</h1>
  </div>
<% else %>
  <div class="container">
  <div class="card-grid">
    <% @user.followers.each do |follower| %>
      <%= render 'user_card', follower: follower%>
    <% end %>
  </div>
  </div>
<% end %>

<%= link_to "Back", user_path(@user) %>
