<h1>Discover the community!</h1>

<div class="container">
  <ul>
    <% @users.each do |user| %>
      <% unless current_user.following?(user) || current_user === user%>
        <li>
          <%= link_to "#{user.name}", user_path(user) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
