<div class="container-message  <% if @posts.empty? %>d-none<% end %>" data-feed-subscription-target="messages">
        <% @posts.order(id: :desc).each do | post | %>
          <%= render "posts/post", post: post %>
        <% end %>
        <div class="center-pagination">
          <%= page_entries_info @posts %>
        </div>
        <div class="pagination">
          <%= will_paginate @posts %>
        </div>
      </div>

      <br><br>
        <div class="card-bg text-center <% if @posts.any? %>d-none<% end %>" data-feed-subscription-target="follow">
          <h1>You don't have any posts yet</h1>
        <br>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <h2>Make your first post or   </h2>
              <h2 class='mt-3'><%= link_to 'Follow someone', posts_path, class: 'yellow-button-lg w-100' %></h2>
          </div>
        </div>
