.body-blur{
  width: 100vw;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1518640467707-6811f4a6ab73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
  width: 100vw;
  background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(8px); // This be the blur
  height: 100vh;
}

.container-message{
  height: 78vh;
  overflow-y: overlay;
}
