.pagination {
  backdrop-filter: blur(20px);
  // border: 1px solid #e5e5e5;
  border-radius: 42px;
  text-align: center;
  padding: 0.75em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
   }
.pagination a, .pagination span {
  padding: 0.2em 0.3em; }
.pagination .disabled {
  color: #aaaaaa; }
.pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #4A97A1;
  justify-content: center;
  color: whitesmoke;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  border-radius: 50%;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.pagination a {
  text-decoration: none;
  color: black; }
.pagination a:hover, .pagination a:focus {
  text-decoration: underline; }

.pagination_links{
  text-align: center;
    }

.center-pagination{
  text-align: center;
}
