.post-card{
  width: 30vw;
  height: 30vh;
  padding: 1em 1em 0em 1em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .72);
  background: rgba(0, 0, 0, .5);
  border-radius: 20px;
  margin: 1rem auto;
    img{
      border-radius: 50%;
      width: 64px;
      height: 64px;
      object-fit: cover;
    }
}

.card-content{
  border-radius: inherit;
  padding: 1rem;
  backdrop-filter: blur(20px);
  height: 15vh;
  p{
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    opacity: 0.95;
  }
}

.card-header-custom{
  display: flex;
  height: 8vh;
  margin: 0px 12px 12px 10px;
  justify-content: space-between;
}

#post-time{
  font-size: 14px;
  opacity: 0.75;
  color: black;
  position: absolute;
  bottom: 0;
}

.post-stats{
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
}


.like-button{
  border:none;
  background-color: transparent;
}

.delete-button{
  color: red;
}
