.user-card {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  border-radius: 20px;
  width: 20vw;
  height: 24vh;
  transition: ease 300ms;
  text-decoration: none;
  background-color: aqua;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  a{
    text-decoration: none;
  }
}

.user-card-name{
  display: flex;
  align-items: center;
  padding: 1em;
}

.card-content{
  border: solid;
  border-radius: inherit;
  background-color: aliceblue;
  padding: 2rem;
  p{
    font-size: 24px;
    font-weight: 600;

  }
}

.card-header{
  display: flex;
  background-color: inherit;
}

#post-time{
  color: rgb(205, 203, 200);
  font-weight: 200;
  font-size: 16px;
}
