.user-card {
  width: 20vw;
  height: 24vh;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .72);
  background: rgba(0, 0, 0, .5);
  border-radius: 20px;
  padding: 2vw;
  transition: ease 300ms;
  text-decoration: none;
  color:whitesmoke;


  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  a{
    &:hover {
      transform: scale(1.15);
      cursor: pointer;
      transition: ease 300ms;
    }
  }
}

.user-card-name{
  padding: 12px 1em 1em 1em;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  color:whitesmoke;
}

.user-card-head{
  display: flex;
}

.user-card-stats{
  display: flex;
  justify-content: space-between;
}
