.user-card {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  border-radius: 20px;
  width: 20vw;
  height: 24vh;
  transition: ease 300ms;
  text-decoration: none;
  background-color: aqua;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  a{
    text-decoration: none;
  }
}
